# Ignore Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env
*.env

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak
*.orig
.DS_Store